body {
  direction: rtl;
  font-family: Vazirmatn, sans-serif !important;
  color: #133e87;
}

.body-main {
  max-width: 100%;
  margin: 5% 3% 4%;
  direction: rtl !important;
}

.body-login {
  background-color: rgba(231, 247, 251, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl !important;
  height: 100vh;
}

.body-ReviewPage {
  background-color: rgba(231, 247, 251, 0.9);
  display: flex;
  direction: rtl !important;
  margin: 7% 4%;
  max-width: 100%;
  justify-content: center;
  align-items: center;

}

.body-Product {
  background-color: #ffff;
}

.header,
.footer {
  background-color: #039cfd;
  color: white;
}

.row-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.boxRight {
  text-align: right;
  width: 18%;
}

.boxLeft {
  text-align: center;
  width: 80%;
}

.productcarddiv {
  width: 85%;
}

.bodyproductcard {
  display: flex;
  justify-content: space-between;
}

.scroll-container {
  height: 280px;
  overflow-y: auto;
  padding-top: 10px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}

.productCards {
  scroll-snap-align: start;
}

@media (max-width: 950px) {
  .row-container {
    gap: 0;
  }

  .boxRight {
    width: 0%;
  }

  .boxLeft {
    width: 100%;
  }

  .body-main {
    padding: 0px !important;
    margin: 0px !important;
    direction: rtl !important;
  }

  .mp {
    padding: 0px 8%;
  }

  header {
    margin-bottom: 12%;
  }
}

@media (max-width: 450px) {
  header {
    margin-bottom: 15%;
  }
}

@media (max-width: 370px) {
  header {
    margin-bottom: 17.5%;
  }
}