.HeaderSearchProductsMain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
  background-color: #ffffff;
}



.HeaderSearchProductsPTabe {
  font-size: 14px;
  padding: 12px;
  width: 20%;
  color: #485874;
}

.HeaderSearchProductsTabes {
  display: flex;
  padding: 0px 10px 3px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: flex-end;
  width: 80%;
  border-bottom: solid rgba(136, 147, 180, 0.664) 1px;
  justify-content: space-between;
}


.tab {
  width: 110px;
  height: 45px;
  background-color: #ffffff;
  /* Dark blue color */
  color: #133e87;
  /* White text */
  border: none;
  padding: 0px;
  font-size: 13px;
  font-weight: 450;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;

  text-align: center;
}

.tab:hover {
  background-color: #cbdceb;
  /* Light blue hover effect */
}

.tab.active {
  background-color: rgb(19, 62, 135);
  /* Yellow for active tab */
  color: #f9f7f7;
  /* Black text */
}


.HeaderSearchProductsNumberOfItem {
  font-size: 12px;
  margin: 0;
  color: #838282;
}

ul.HeaderSearchProductsBreadcrumb {
  padding: 0;
  list-style: none;
  margin: 0;
  background-color: #fff;
  justify-content: flex-start;
  gap: 10px;
  display: flex;
}

ul.HeaderSearchProductsBreadcrumb li {
  display: inline;
  font-size: 12px;
  padding: 0px;
}

ul.HeaderSearchProductsBreadcrumb li a {
  color: #112d4e;
  text-decoration: none;
}

ul.HeaderSearchProductsBreadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.HSPMResponsiv {
  display: none;
}

@media (max-width: 950px) {
  .HSPMResponsiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .HeaderSearchProductsMain {
    display: none;
  }

  .HSPBResponsiv a {
    margin: 10PX;
    padding: 5px 10px;
    text-decoration: none;
    color: #112d4e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    border: solid 1px #3059889a;
    border-radius: 15px;
    width: 120px;
  }

  .HSPBResponsiv p {
    font-size: 13px;
    margin: 0px;
  }

}