.AboutPmaindiv {
  width: 100%;
}

.AboutProductbtnR {
  right: 0;
  height: 80%;
  border: none;
}

.AboutProductbtnL {
  left: 0;
  height: 80%;
  border: none;
}

.imgsS {
  height: 500px;
  width: 500px;
}

.AboutProductbtnicon {
  font-size: 20px;
}

.AboutProductpS {
  font-size: 12px;
}

.AboutProductpB {
  background-color: #d32f2f;
}

.AboutProductpSS strong {
  font-size: 17px;
}

.expanded-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.expanded-image-container {
  position: relative;
  text-align: center;
}

.close-btn {
  background-color: rgba(63, 91, 122, 0.226);
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.card-imgs {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.card-img-top {
  height: 400px;
  object-fit: contain;
}

.card {
  border-radius: 12px;
  border: none;
  max-width: 400px;
}

.iconB {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.iconB:hover {
  transform: scale(1.1);
}

.share {
  font-size: 22px;
}

.iconB.active .bi-suit-heart-fill {
  color: red;
}

.card-imgs {
  height: -webkit-fill-available;
}

.image-nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.image-nav-buttons button {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.Products-imgs {
  overflow-x: auto;
  height: 60px;
  max-width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  scroll-behavior: smooth;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.Products-imgs::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.Products-imgs::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.Products-imgs::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.Products-imgs::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.Products-imgs::-webkit-scrollbar-button {
  display: flex;
  background-color: transparent;
  width: 0px;
  height: 15px;
}

.productName {
  font-size: 18px;
}

.productDetails {
  font-size: 15px;
}

.productbrand {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.productbrand p {
  color: rgb(60 110 253);
    cursor: pointer;
}

.productcategory {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.productcategory div {
  color: rgb(60 110 253);
  cursor: pointer;
}

.ulsize li {
  font-size: 14px;
}

.LeftSection {
  border: solid 1px rgb(186, 226, 233);
  min-height: 80%;
  max-height: 400px;
  font-size: 15px;
}

.btncard {
  position: absolute;
  left: 50%;
  bottom: 25px;
  width: 186.53px;
  transform: translateX(-50%);
}