.containerBanner {
  position: relative;
  max-width: 1903px;
  overflow: hidden;
  padding: 1%;
}

.imgSize {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.mySlides {
  display: none;
}

.mySlides.active {
  display: block;
  animation: fadeIn 3s;
}

@media (max-width:950px) {
  .containerBanner {
    height: 250px;
  }

  .imgSize {
    height: 250px;
    object-fit: cover;
  }
}

@media (max-width:800px) {
  .containerBanner {
    height: 200px;
  }

  .imgSize {
    height: 200px;
    object-fit: cover;
  }
}

@media (max-width:480px) {
  .containerBanner {
    height: 150px;
  }

  .imgSize {
    height: 150px;
    object-fit: cover;
  }
}